/* ////HEADER START//// */
header .wrapper .headnav {
  margin-right: 2em;
}

/* ////HEADER END//// */

/* ////HERO SECTION START//// */
.hero .herocontent {
  margin-left: 2em;
  font-size: 0.8em;
}

.hero .wrapper .heroimg {
  margin-left: 2em;
}

/* ////HERO SECTION END//// */

/* ////ABOUT1 SECTION START//// */
/* ////ABOUT1 SECTION END//// */

/* ////ABOUT2 SECTION START//// */
.about2 .wrapper .abt2img {
  margin-left: 2em;
}

/* ////ABOUT2 SECTION END//// */

/* ////ABOUT3 SECTION START//// */
.about3 .abt3content .contentparts b {
  font-size: 1.7em;
}

.about3 .abt3content .contentparts i {
  font-size: 1.6em;
}

/* ////ABOUT3 SECTION END//// */

/* ////ABOUT4 SECTION START//// */
/* ////ABOUT4 SECTION END//// */

/* ////ABOUT5 SECTION START//// */
.about5 .abt5content {
  margin-top: -8px;
  margin-bottom: 20px;
}

/* ////ABOUT5 SECTION END//// */

/* ////ABOUT6 SECTION START//// */
/* ////ABOUT6 SECTION END//// */

/* ////GALLERY SECTION START//// */
/* ////GALLERY SECTION END//// */

/* ////CONTACT SECTION START//// */
/* ////CONTACT SECTION END//// */

/* ////FOOTER START//// */
.footer .wrapper {
  flex-wrap: wrap;
}

.footer .wrapper .columns {
  gap: 10px;
  margin-right: 3em;
}

.credits p {
  font-size: 1.5em;
}

/* ////FOOTER END//// */