.hero .wrapper .herocontent{
    justify-content: center;
    align-items: center;
    text-align: left;
}
/* .hero .wrapper{
    width: 80%;
} */
 .hero .wrapper .herocontent p{
    width: 500px;
    font-size: 1.2em;
    line-height: 1.5em;
    /* padding: 0 20px; */
margin:auto;
}